body {
	background-color: #f4af26;
}

img {
	width: 37px;
	height: 37px;
}

button {
	width: 37px;
	height: 37px;
	background-image: url("assets/testBlank.png");
}

#header {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	position: fixed;
	background-color: white;
	opacity: 0.5;
	color: black;
	z-index: 3;
}

#footer {
	bottom: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	position: fixed;
	color: black;
	background-color: white;
	text-align: center;
	padding: 4px;
}

/*#boardDiv {
	background-color: white;
	z-index: 10;
}*/


.center{
	text-align: center;
    	top: 150px;
	position: relative;
    	background-color: #f4af26;
    	z-index: 0;
   	color: #003333;
}

.leaderboard {
	position: fixed;
	top: 200px;
	left: 60px;
	color: black;
	background-color: white;
	z-index: -1;
}

#board {
	margin: auto;
	display: inline-block;
	background-color: white;
}

.article{

}
