LIST OF REQUIREMENTS:

User Stories: 
As a user, I want to be able to select from a list of preset game modes so that I can start playing immediately
As a user, I want to be able to have options to modify existing gamemodes so that I can create games I think are fun
As a user, I want to be able to save my gamemode so that I can use it again later
As a user, I want the game to save my progress so that I can leave and come back later to resume my progress
As a user, I want the game to be runnable on linux machines so that I can use it on all my pc's
As a user, I want to be able to modify the dictionary for the game so that i can specify the types of words that will give a player points
As a user, I want to be able to remove an item from the dictionary so that a word added accidentally can be removed
As a user, I want to be able to modify the gameboard size(possibly while playing) so that the game can go on for a longer amount of time
As a user, I want to be able to modify the gameboard size so that the game can accomadate more players
As the owner, i want to limit the maximum amount of players so that the system does not slow down or crash
As the owner, i want to limit the maximum gameboard size to 100x100 so that it cannot get too big
